version: '3.9'
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
  server:
    build: ./server
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/hms
      - JWT_ACCESS_SECRET=change_me_access
      - JWT_REFRESH_SECRET=change_me_refresh
    depends_on:
      - mongo
    ports:
      - '5000:5000'
  client:
    build: ./client
    restart: unless-stopped
    depends_on:
      - server
    ports:
      - '8080:80'
volumes:
  mongo-data: {}
